.Form{
background-color: aquamarine;
height: 300px;
width: 400px;
margin: auto;
padding: 10px;
border-radius: 5px;
border: 1px solid;
margin-top: 100px;
}
input{
    width: 95%;
    height: 20px;
    border: none;
    padding: 5px;
    margin: 10px 0px;
}

button{
    height: 30px;
    border: none;
    width: 100%;
    text-align: center;
}