section {
  background-color: aqua;
  height: 400px;
  width: 600px;
  margin: auto;
  margin-top: 150px;
}
.tri1 {
  margin: auto;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid lightsalmon;
  position: relative;
  top: 40px;
}
.tri2 {
  margin: auto;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid lightslategray;
}
.tri3 {
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 40px solid rgb(153, 233, 153);
  width: 100px;
  margin: auto;
}
