.book {
  background-color: #e7fbbe;
  height: 25cm;
  width: 25cm;
  margin: 1cm;
  margin-left: 7cm;
  border-style: solid;
  text-align: center;
  border-color: black;
}
.book1 {
  background-color: lightgoldenrodyellow;
  margin: 30px;

  box-shadow: 10px 5px 10px 15px gray;
}
p {
  margin-top: 100px;
  text-align: left;
  padding-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}
p::first-letter {
  font-size: 70px;
  float: left;
  line-height: 54px;
}
h1 {
  font-size: 40px;
}
span {
  font-size: 50px;
}
