* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#Main {
  display: flex;
  color: white;
  flex-wrap: wrap;
  background-color: lightslategrey;
}
.card {
  margin: 10px;
  padding: 10px;
  border: none;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 7px 1px;
}
.card:hover {
  box-shadow: 3px 3px 4px 2px;
}
span {
  display: block;
}
